
.logo {
    width: 80px;
    margin-left: 20px;
}

.header-title {
    font-size: 25px;
    margin-right: auto;
    margin-left: 40px;
}

.header-list {
    font-size: 20px;
    font-weight: 500;
    margin-right: 50px;
}

a {
    text-decoration: none;
    color: white;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.body {
    background-color: #2c2c2c;
}

.headline {
    color: white;
    font-size: 25px;
    text-align: center;
    margin-top: 50px;
}

.header {
    margin-left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    height: 80px;
    background: linear-gradient(90deg, #003a12 1.18%, #006e14 100%);
    color: white;
    padding: 20px;
}

.main {
    width: 80%;
    margin-left: 40%;
    color: white;
    margin-top: 50px;
}

/*form css*/

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: white;
}

nav {
    background-color: blueviolet;
    padding: 5px;
    padding-left: 0;
}

.search {
    height: 30px;
    width: 240px;
    border: 1px solid lightblue;
    border-radius: 3px;
    padding: 3px;
    margin-top: 0;
}

.signup-title {
    padding-top: 0;
    padding-left: 0;
    text-align: center;
    color: white;
}

.sign-form {
    padding: 1px 1px 1px 15px;
    color: white;
}

input {
    height: 25px;
    margin-top: 30px;
    margin-left: 15px;
}

#address {
    margin-top: 10px;
    margin-left: 15px;
}

#partner {
    height: 25px;
    margin-top: 30px;
    margin-left: 15px;
}

#save {
    padding: 10px 10px 10px 10px;
    margin-left: 5%;
}

.submit {
    width: 100px;
    height: 30px;
    cursor: pointer;
}